* {
    box-sizing: border-box;
}

body, h1, h2, h3, p{
    margin: 0;
}

#app {
    width: 100%;
    display: grid;
    grid-template-areas: "head head head"
                         ". main ."
                         "foot foot foot";
    grid-template-columns: minmax(20%, auto) 1fr minmax(20%, auto);
    grid-template-rows: 50px 1fr 50px;
}

#app > .top-bar {
    grid-area: head;
}

#app > .main-content {
    grid-area: main;
}

#app > .bottom-bar {
    grid-area: foot;
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
}

.large-card {
    margin: 1rem 3rem;
    display: flex;
    max-height: 250px;
    width: 100%;
}

.large-card-image {
    margin: 1rem;
}

.large-card-image > img {
    height: 100%;
    min-width: 300px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.large-card-text {
    border-left: 1px solid grey;
    padding: 1rem;
}

.large-card-text > p {
    flex-grow: 2;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.large-card-labels {
    display: flex;
}
