.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-option {
    border: 1px solid green;
    height: 6ch;
    line-height: 6ch;
    width: 8ch;
    text-align: center;
}

#user-summary,
#subscribe-form {
    background: rgba(0, 128, 128, 0.9);
    color: rgba(255, 255, 255, 0.9);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

#user-summary .avatar img {
    border: .25rem solid goldenrod;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#user-summary .user-summary-text {
    padding: 0 1rem;
}

#user-summary .social-links i {
    color: rgb(209, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    margin: 1rem;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

#user-summary .social-links i:hover {
    color: rgba(209, 255, 255, 0.8);
    font-size: 2.2rem;
}

#subscribe-form {
    padding: 3rem auto;
}

#subscribe-form h2 {
    margin-bottom: 0.5rem;
}

#subscribe-form input,
#subscribe-form button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#subscribe-form input {
    background: white;
}

#subscribe-form button {
    background: rgb(209, 255, 255);
    color: teal;
}

#subscribe-form button:hover {
    color: rgb(209, 255, 255);
    background: teal;
}

@media (min-width: 450px) {
    #user-summary {
        flex-direction: row;
        max-width: 35rem;
    }

    #subscribe-form {
        max-width: 1000px;
    }
}