@import "./variables.css";
@import "./header.css";
@import "./content.css";
@import "./footer.css";

* {
    box-sizing: border-box;
    font-family: var(--general-font-family);
    color: var(--color-black);
}


body, h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--heading-font-family);
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background: var(--color-white);
}

a {
    text-decoration: none;
}

button,
input {
    padding: 0;
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

figcaption {
    font-style: italic;
    opacity: 0.85;
}

#app {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-areas: "head head head"
                         ". main ."
                         "foot foot foot";
    grid-template-columns: minmax(10%, auto) 1fr minmax(10%, auto);
    grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
}

#top-bar {
    grid-area: head;
}

#main-content {
    grid-area: main;
}

#bottom-bar {
    grid-area: foot;
    background: var(--primary-color);
}

@media (max-width: 650px) {
    h1 {
        font-size: 18vw;
    }

    #app {
        grid-template-columns: 5% 1fr 5%;
    }

    #main-content article figure {
        width: 100%;
    }
}

@media (min-width: 650px) {
    h1 {
        font-size: 4rem;
    }

    #recent-post > .card {
        flex-direction: row;
    }

    .card-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .card-list .card {
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (min-width: 1000px) {
    #app {
        grid-template-columns: auto 1000px auto;
    }

    .card-list .card {
        flex: 1 1 calc(33% - 1rem);
    }
}